---
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
---

<Layout 
    title="Design System Portfolio.dev"
    description="A collection of design systems and pattern libraries from around the web."
    >
    

    <SectionContainer class="py-44 pb-32 gap-y-10">
        <article class="mb-10">
            <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>
            <Badge> Disponible para trabajar </Badge>
        </article>

        <article class="mb-10">
            <h1 class="mb-4 text-xl font-semibold">&lt;SocialPill /&gt;</h1>
                <div class="flex gap-x-2">
                    <SocialPill href="https://tailwindcss.com">  
                        <LinkedIn class="size-6 lg:size-7" />
                    </SocialPill>

                    <SocialPill href="https://github.com/juanpa27">  
                        <Github class="size-6 lg:size-7" />
                        
                    </SocialPill>
                </div>
        </article>
    </SectionContainer>
</Layout>