<section class="gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 
        [&>p>strong]:font-semibold text-pretty">
        <p >
            Me llamo Juan Pablo, tengo 35 años y soy de Asunción, Paraguay  &#x1F1F5;&#x1F1FE;. 
            Terminé la carrera de Analista de Sistemas y me estoy especializando en <strong>Desarrollo Web.</strong>    
            Me gusta mucho enfocarme en la parte de <strong>Frontend</strong>, pero también tengo conocimientos en <strong>Backend.</strong> 
        </p>

        <p >
            Me gusta mucho aprender cosas nuevas, y siempre estoy buscando mejorar mis habilidades. 
            Me considero una persona muy responsable, comprometida y con muchas ganas de trabajar. 
            Me gusta mucho trabajar en equipo, y siempre estoy dispuesto a ayudar a mis compañeros.
        </p>
    </div>
</section>