---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        title: 'Desarrollador Web - Insituto de Previsión Social (IPS-Paraguay)',
        company: 'Company',
        location: 'local',
        date: '2010 - Actualemnte',
        description: 'Responsable de la creación de sitios web y aplicaciones web internas para el IPS, utilizando tecnologías como PHP, Jquery, JavaScript, CSS, Bootstrap, TailwindCSS entre otras.',
    },
    {
        title: 'Soporte Técnico - Provent S.A.',
        company: 'Provent S.A.',
        location: 'Remote',
        date: 'Ene 2009 - Feb 2010',
        description: 'Sólida experiencia en el campo del soporte técnico, resolviendo eficazmente problemas de hardware y software para garantizar la continuidad operativa.',
    }
    
];
---
<ol class="
    relative 
    border-s border-gray-200 
    ml-3">                  
   {
    EXPERIENCE.map((experiencie)=> (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie} />    
        </li>    
    ))
   }
</ol>

