<footer class="py-2 text-sm text-center bg-black/50
backdrop-blur-2xl">
    <!-- Footer Start with tailwind css-->
    <div class="p-4 text-center dark:text-neutral-200">
        <p class="mb-2">&copy; {new Date().getFullYear()} Juan Bellenzier - Casi que todos los derechos reservados.</p>
    </div>
</footer>  