---
import Badge from '../components/Badge.astro';
import SocialPill from '../components/icons/SocialPill.astro';
import Github from '../components/icons/Github.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Gmail from '../components/icons/Gmail.astro';

---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4 items-center">
        <img 
            class="rounded-full size-32 md:size-20 lg:size-24 xl:size-20 mb-4" 
            src="/images/jb.jpg" 
            alt="juanbellenzier"
            
        />				
        <a 
            target="_blank" 
            href="https://www.linkedin.com/in/juan-bellenzier-66763710a/" 
            class="flex justify-center items-center"
        >
            <Badge>Disponible para trabajar</Badge>
        </a>
    </div>
    <h1 class="text-white 
            font-bold 
            text-2xl 
            md:text-4xl lg:text-5xl 
            flex flex-row 
            gap-x-4
            pb-6 
            lg:pb-10
            ">
        Hola, soy Juan Bellenzier
    </h1>
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="opacity-80">Desarrollador web con más de </span><span class="text-yellow-200/90">7 a&ntilde;os de experiencia</span>
        en el desarrollo de aplicaciones web, con conocimientos en tecnologías como PHP, JavaScript, ReactJS, Astro, entre otras.
    </h2>
    <nav class="flex gap-5 mt-10 flex-wrap">
       
        <SocialPill href="www.linkedin.com/in/juan-bellenzier-66763710a"> 
            <LinkedIn class="size-5 lg:size-6" />
            LinkedIn
        </SocialPill>
        <SocialPill href="mailto:jbellenzier@gmail.com"> 
            <Gmail class="size-6 lg:size-8" />
            jbellenzier@gmail.com
        </SocialPill>
     </nav>
</div>