---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';



interface Props {
	title: string;
	description: string;
}

const { description,title } = Astro.props;


---

<!doctype html>
<html lang="es" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="keywords" content="Juan Bellenzier">
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Bellenzier">
		   
			<!-- Metadatos para compartir en WhatsApp -->
		   <meta property="og:title" content="Juan Bellenzier">
		   <meta property="og:description" content="Porfolio - Juan Bellenzier">
		   <meta property="og:image" content="/images/jb.jpg">
		   <meta property="og:url" content="https:www.juanbellenzier.dev">
		   <meta property="og:type" content="website">
		   <meta property="og:site_name" content="Juan Bellenzier">
		   <meta name="description" content="Desarrollador web profesional con experiencia en Paraguay. Visita mi portafolio para ver mi trabajo y habilidades.">
		   <meta name="keywords" content="Desarrollador web, Paraguay, Juan Bellenzier, Portafolio, Desarrollo de sitios web">

		   <!-- Agregar enlaces a redes sociales -->
			<meta property="og:twitter:card" content="summary">
			<meta property="og:twitter:creator" content="@juanbellenzier">
			<meta property="og:twitter:site" content="@juanbellenzier">
			<meta property="og:facebook:profile_id" content="juan.bellenzier">
			<meta property="og:instagram" content="jbellenzier">
					
		   <meta name="robots" content="index, follow">
		   <meta name="googlebot" content="index, follow">
		   <meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{title}</title>
	</head>
	<body class="relative dark:text-white">
		<div class="relative h-full w-full bg-neutral-900"><div class="absolute inset-0 bg-fuchsia-400 bg-[size:20px_20px] opacity-20 blur-[100px]"></div></div>
		<Header />		 
		<slot />
		<Footer />
		<script src="flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		
	}
	html {
		font-family:"Onest Variable", system-ui, sans-serif;
	    scroll-behavior: smooth;
	}	

	body {
		
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
	}

	@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
		}
	}

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
		}
	}

</style>

